[*]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2

[{*.pom, *.xml}]
ij_xml_keep_blank_lines = 1

[{*.kt, *.kts}]
ij_kotlin_blank_lines_after_class_header = 0
ij_kotlin_blank_lines_around_block_when_branches = 0
ij_kotlin_blank_lines_before_declaration_with_comment_or_annotation_on_separate_line = 1
ij_kotlin_keep_blank_lines_in_code = 0
ij_kotlin_keep_blank_lines_in_declarations = 1
